.services hr {

    width: 8%;
    border: 4px solid #ccc;
    }
    
    
    .explore .row {
    
       margin:140px;
    }
    
    @media (max-width : 991.98px) {
        .services hr {
    
            width: 12%;
        }
    }
    @media (max-width : 991.98px) {
        .explore .row {
    
            margin:0px;
         }
        
    }
    